<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns="https://jakarta.ee/xml/ns/jakartaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" 
	version="6.0">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.client.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>clientInsert</display-name>
    <servlet-name>clientInsert</servlet-name>
    <servlet-class>com.client.clientInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clientInsert</servlet-name>
    <url-pattern>/clientInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>businessInsert</display-name>
    <servlet-name>businessInsert</servlet-name>
    <servlet-class>com.client.businessInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>businessInsert</servlet-name>
    <url-pattern>/businessInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Requestform</display-name>
    <servlet-name>Requestform</servlet-name>
    <servlet-class>com.client.Requestform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Requestform</servlet-name>
    <url-pattern>/Requestform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestInsert</display-name>
    <servlet-name>RequestInsert</servlet-name>
    <servlet-class>com.client.RequestInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestInsert</servlet-name>
    <url-pattern>/RequestInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReqstInsert</display-name>
    <servlet-name>ReqstInsert</servlet-name>
    <servlet-class>com.client.ReqstInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqstInsert</servlet-name>
    <url-pattern>/ReqstInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDataServlet</display-name>
    <servlet-name>UpdateDataServlet</servlet-name>
    <servlet-class>com.client.UpdateDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDataServlet</servlet-name>
    <url-pattern>/UpdateDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRequest</display-name>
    <servlet-name>DeleteRequest</servlet-name>
    <servlet-class>com.client.DeleteRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRequest</servlet-name>
    <url-pattern>/DeleteRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDataServlet</display-name>
    <servlet-name>DeleteDataServlet</servlet-name>
    <servlet-class>com.client.DeleteDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDataServlet</servlet-name>
    <url-pattern>/DeleteDataServlet</url-pattern>
  </servlet-mapping>
</web-app>